div.container {

    h1 {
        padding-top: 150px;
        padding-bottom: 40px;
    }
}

button.btn {

        background-color: $brand-lightblue;
        color: $brand-white;

        &:hover {
            background-color: $brand-blue;
            color: $brand-white;
            }   
}
