*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: $primary-font;
}

body {
    background-color: $brand-white;
}

h1, h2, h3, h4, p {
    font-family: $primary-font;
}

::selection {
    /* Change highlight background color*/
    background: $brand-purple;
    /* Change highlight text color */
    color: $brand-white;
}