/*home banner*/
.banner {
    position: relative;
    overflow:visible;
    max-width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;

    img {
        display: block;
        object-fit: cover;
    }
}

/*home box info*/
.icon-boxes {
    margin-top: 50px;
    margin-bottom: 100px;
}

.icon-box {
    padding: 50px 30px;
    position: relative;
    overflow: hidden;
    background-color: $brand-black;
    box-shadow: 0 0 10px 0 $brand-black;
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;

    .title {
        font-weight: 700;
        margin-bottom: 15px;
        font-size: 18px;
        color: $brand-lightblue;
    }

    .description {
        font-size: 15px;
        line-height: 28px;
        margin-bottom: 0;
        color: $brand-white;
    }

    &:hover {
        transform: scale(1.08);

        .title {
        color: $brand-lightblue;
        }   
    }
}

div.container {

    h1.lh-base {
        font-family: 'DM Serif Display';
        padding: 40px;
        text-align: center;
    }
}