.card {
    margin: 100px;
}

.card-link {
    text-decoration: none; /* remove underline */
    color: $brand-white; /* change link color */
    mix-blend-mode: difference; /*inverted color*/
    font-weight: bolder;
    font-size: 2.8em; /* set default font size */
    transition: font-size 0.2s; /* add transition effect to font size */
    padding: 20px;
    padding-left: 35px;

    &:hover{
        text-decoration: none;
        color: $brand-purple; /* change link color when hovered over */
        mix-blend-mode:difference;
        font-size: 4em; /* increase font size when hovered over */
    }
}

.modal-content {
    max-width: 90%;
    margin: auto;
    border: 0;

    .modal-body{
        padding: 0;
    }
}
