/* brand colors */
$brand-white: rgb(233, 235, 234);
$brand-black: rgb(28, 28, 28);
$brand-blue: rgb(0, 81, 194);
$brand-lightblue: rgb(108, 143, 173);
$brand-purplue: rgb(108, 108, 173);

/*brand fonts*/
$primary-font: Poppins; 
